.operation_history/
.variables/
.cache/
.env
*.db
.ssh-tunnel/
Week-2/.env
*/io_config.yaml
Week-2/magic-zoomcamp/data_exporters/export_titanic_clean.py
Week-2/magic-zoomcamp/transformers/fill_in_missing_values.py
Week-2/magic-zoomcamp/.ssh_tunnel/aws_emr.json
charts/
custom/
dbt/
extensions/
interactions/
scratchpads/
Week-5/fhv_data/